<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>

  <p>
    <label for="firstname">First Name </label>
    <input type="text" id="firstname" name="firstname" formControlName="firstname">
  </p>
<!--  <div-->
<!--    *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)">-->
<!--   <p style="color: red"> Invalid Firstname !</p>-->
<!--  </div>-->
  <div class="alert alert-danger" role = "alert"
  *ngIf="contactForm.get('firstname')?.invalid && contactForm.get('firstname')?.touched">
    <p style="color: red"> Invalid Firstname !</p>
  </div>

  <p>
    <label for="lastname">Last Name </label>
    <input type="text" id="lastname" name="lastname" formControlName="lastname">
  </p>
  <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)">
    <div *ngIf="lastname?.errors?.['required']">
      <p style="color: red">Lastname is required.</p>
    </div>
    <div *ngIf="lastname?.errors?.['minlength']">
      <p style="color: brown">Lastname must be at least 9 characters long.</p>
    </div>
  </div>

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" formControlName="email">
  </p>
  <div
    *ngIf="email?.invalid && (email?.dirty || email?.touched)">
    Invalid Email !
  </div>

  <fieldset formGroupName="pwGroup">
    <div class="form-group row">
      <label class="col">
        Password
        <input type="password" class="form-control" formControlName="password">
      </label>
    </div>
    <div class="form-group row">
      <label class="col">
        Confirm Password
        <input type="password" class="form-control" formControlName="confirmPassword">
      </label>
    </div>
  </fieldset>
  <div class="alert alert-danger" role = "alert"
  *ngIf="contactForm.hasError('passwordNotMatch', ['pwGroup']) && contactForm.get('pwGroup')?.touched">
    <p style="color: red">Password does not match</p>
  </div>

  <p>
    <label>Gender </label>
    <input type="radio" value="male" id="genderMale" name="gender" formControlName="gender"> Male
    <input type="radio" value="female" id="genderFemale" name="gender" formControlName="gender"> Female
  </p>

  <p>
    <label for="isMarried">Married </label>
    <input type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">
  </p>

  <p>
    <label for="country">Country </label>
    <select id="country" formControlName="country">
      <option [ngValue]="null" disabled>Select Country</option>
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{c.name}}
      </option>
    </select>
  </p>

  <div formGroupName="address">

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" id="city" class="form-control" name="city" formControlName="city">
    </div>

    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" id="street" class="form-control" name="street" formControlName="street">
    </div>

    <div class="form-group">
      <label for="pinCode">Pin Code</label>
      <input type="text" id="pinCode" class="form-control" name="pinCode" formControlName="pinCode">
    </div>

  </div>

  <p>
    <button type="submit" [disabled]="!contactForm.valid">Submit</button>
  </p>

</form>
